main {
    width: 900px;
    margin: 20px auto;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
    margin: 40px 0;
}

.tableLayout1 {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;

}

th, td {
    border: 1px solid lightslategray;
    box-shadow: 0 0 5px gray;
    padding: 5px;
}

.tableLayout2 {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

.borderright {
    border-right: 3px solid black;
}
